<configuration>

  <!-- Вывод на консоль -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>

    <target>System.out</target>
  </appender>

  <!-- Для вывода результатов игр локально -->
  <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="GAME-STATISTICS">
    <discriminator>
      <defaultValue>TIME</defaultValue>
      <key>time</key>
    </discriminator>

    <sift>
      <appender class="ch.qos.logback.core.FileAppender" name="FILE-${time}">
        <append>false</append>

        <encoder>
          <pattern>%msg%n</pattern>
        </encoder>

        <file>logs/${time}-qchess-statistics.log</file>
      </appender>
    </sift>
  </appender>

  <appender class="ch.qos.logback.classic.sift.SiftingAppender" name="GAME-MOVES">
    <discriminator>
      <defaultValue>GAME</defaultValue>
      <key>game</key>
    </discriminator>

    <sift>
      <appender class="ch.qos.logback.core.FileAppender" name="FILE-${game}">
        <append>false</append>

        <encoder>
          <pattern>%msg%n</pattern>
        </encoder>

        <file>logs/${game}-qchess-statistics.log</file>
      </appender>
    </sift>
  </appender>

  <!-- Все логи -->
  <appender class="ch.qos.logback.core.FileAppender" name="FILE-LAST-SESSION">
    <append>false</append>

    <encoder>
      <pattern>[%level] [%thread] "%logger{1}" - %msg%n</pattern>
    </encoder>

    <file>logs/qchess-last-session-trace.log</file>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>

  <logger level="debug" name="io.deeplay.qchess.game.Selfplay">
    <appender-ref ref="GAME-MOVES"/>
  </logger>

  <logger level="info" name="io.deeplay.qchess.nukebot.bot.NukeBotTest">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="GAME-STATISTICS"/>
  </logger>

  <logger level="warn" name="io.deeplay.qchess.nukebot.bot.NukeBot">
    <appender-ref ref="FILE-LAST-SESSION"/>
  </logger>

  <logger level="info" name="io.deeplay.qchess.nukebot.bot.NukeBotFactory">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="GAME-STATISTICS"/>
  </logger>

  <root level="off"/>

</configuration>
