<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}] %level [%thread] "%logger{30}" - %msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>

    <target>System.out</target>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE-PARTIAL-STREAM">
    <append>true</append>
    <encoder>
      <Pattern>[%d{yyyy.MM.dd - HH:mm:ss.SSS}] %level [%thread] "%logger" - %msg%n</Pattern>
    </encoder>

    <file>logs/qchess-stream-part.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>logs/parts/qchess-stream-part.%i.log.gz</fileNamePattern>
      <maxIndex>3</maxIndex>
      <minIndex>1</minIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>15MB</maxFileSize>
    </triggeringPolicy>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="FILE-LAST-SESSION-DEBUG">
    <append>false</append>
    <encoder>
      <Pattern>[%d{yyyy.MM.dd - HH:mm:ss.SSS}] %level [%thread] "%logger" - %msg%n</Pattern>
    </encoder>

    <file>logs/qchess-last-session-debug.log</file>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="FILE-LAST-SESSION-INFO">
    <append>false</append>
    <encoder>
      <Pattern>[%d{yyyy.MM.dd - HH:mm:ss.SSS}] %level [%thread] "%logger" - %msg%n</Pattern>
    </encoder>

    <file>logs/qchess-last-session-info.log</file>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-PARTIAL-STREAM"/>
    <appender-ref ref="FILE-LAST-SESSION-DEBUG"/>
    <appender-ref ref="FILE-LAST-SESSION-INFO"/>
  </root>

</configuration>
