<configuration>

  <!-- Вывод на консоль -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>

    <target>System.out</target>
  </appender>

  <!-- Для вывода результатов игр локально -->
  <!--<appender name="GAME-STATISTICS" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>time</key>
      <defaultValue>TIME</defaultValue>
    </discriminator>

    <sift>
      <appender name="FILE-${time}" class="ch.qos.logback.core.FileAppender">
        <append>false</append>

        <file>logs/${time}-qchess-statistics.log</file>

        <encoder>
          <pattern>%msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>-->

  <appender name="GAME-MOVES" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>game</key>
      <defaultValue>GAME</defaultValue>
    </discriminator>

    <sift>
      <appender name="FILE-${game}" class="ch.qos.logback.core.FileAppender">
        <append>false</append>

        <file>logs/${game}-qchess-statistics.log</file>

        <encoder>
          <pattern>%msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <!-- Все логи -->
  <!--<appender class="ch.qos.logback.core.FileAppender" name="FILE-LAST-SESSION">
    <append>false</append>

    <encoder>
      <pattern>[%level] [%thread] "%logger{1}" - %msg%n</pattern>
    </encoder>

    <file>logs/qchess-last-session-trace.log</file>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>-->

  <logger level="debug" name="io.deeplay.qchess.game.Selfplay">
    <appender-ref ref="GAME-MOVES"/>
  </logger>

  <logger level="info" name="io.deeplay.qchess.core">
    <appender-ref ref="STDOUT"/>
    <!--<appender-ref ref="GAME-STATISTICS"/>-->
  </logger>

  <!--<logger level="warn" name="io.deeplay.qchess.nnnbot.bot.NNNBot">
    <appender-ref ref="FILE-LAST-SESSION"/>
  </logger>

  <logger level="info" name="io.deeplay.qchess.nnnbot.bot.NNNBotFactory">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="GAME-STATISTICS"/>
  </logger>-->

  <root level="off"/>

</configuration>
